<a href="https://colab.research.google.com/github/noturnon2/myshare/blob/master/CodeTank2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
#Aprendizado em Python
"""
Isso é um cometario
isso ainda é um comentário

"""
from datetime import datetime, timezone
hoje= datetime.utcnow()
nome="Luiz"
version= !python --version
print("Olá Mundo", nome, version)

sobrenome= "Marques"
print(f"Last Name: {sobrenome}")
print(f"Data de Hoje: {hoje:%d/%m/%Y}, {hoje: %H:%M}")

#Variáveis

idade=38
altura=1.61
estudando= True

print(type(nome))
print(type(idade))
print(type(hoje))
print(type(altura))
print(type(estudando))
print(type(version))

linguagem = input("Qual linguagem de programação que você está estudando? ")
print("A linguagem que você está estudando é: ", linguagem)

Olá Mundo Luiz ['Python 3.10.11']
Last Name: Marques
Data de Hoje: 25/05/2023,  17:33
<class 'str'>
<class 'int'>
<class 'datetime.datetime'>
<class 'float'>
<class 'bool'>
<class 'IPython.utils.text.SList'>
Qual linguagem de programação que você está estudando? Python
A linguagem que você está estudando é:  Python

In [86]:
#Operadores

"""
- soma: +
- subtração: -
- Multipliação: *
- Divisão: /
- Divisão inteira: //
- Resto da Divisão: %
- Potênia: **

"""
numero1=20
numero2=10

print(numero1 + numero2)
print(numero1 - numero2)
print(numero1 * numero2)
print(numero1 / numero2)
print(numero1 // numero2)
print(numero1 ** numero2)
print(numero2 % numero1)
print(2 ** numero2)
print(20 // 3)
print(20 % 3, "\n")
print("Print Hello World!", sep=' ', end='\n', flush=False)

#Operadores Booleanos

idade1=10
idade2=15
altura1=1.80
altura2=1.61
altura3=altura2

print(idade1 > idade2)
print(idade1 <= idade2)
print("abacaxi" != "banana")
print("Python" == "pytohon")
print(altura1 >= altura2)
print(altura2 > altura3)

30
10
200
2.0
2
10240000000000
10
1024
6
2

Print Hello World!
False
True
True
False
True
False

In [97]:
#Conversão de tipos

idade= '26'
numero1= '10'
numero2= '20'
print(numero1 + numero2)
print(idade, type(idade))
idade_inteira = int(idade)
print(idade, type(idade))

"""
int()
str()
float()
bool()
"""

peso=input('Informe seu peso: ')
print(peso, type(peso))
altura=float(input('Informe sua altura: '))
print(altura, type(altura))
peso = int(peso)
imc= peso / (altura * altura)
print(imc)

1020
26 <class 'str'>
26 <class 'str'>
Informe seu peso: 63
63 <class 'str'>
Informe sua altura: 1.61
1.61 <class 'float'>
24.3046178773967