<a href="https://colab.research.google.com/github/noturnon2/myshare/blob/master/pessoas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
x = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pessoas.xlsx', sheet_name="pessoas")
print(x)

      Nome  Idade Estado  Altura
0   Carlos   20.0     SP    1.78
1    Pedro   18.0     RJ    1.76
2    Paulo   25.0     MA    1.65
3   Lilian   24.0     PR    1.82
4    Alice   22.0     MS    1.79
5  Matheus   15.0     PB    1.73
6    Lucas   19.0     SC    1.77

In [7]:
x["Altura"].mean()

1.7571428571428573

In [10]:
x.describe()

           Idade    Altura
count   7.000000  7.000000
mean   20.428571  1.757143
std     3.505098  0.054685
min    15.000000  1.650000
25%    18.500000  1.745000
50%    20.000000  1.770000
75%    23.000000  1.785000
max    25.000000  1.820000